.wrapper {
  padding: 30px 0;
}

.titleContact {
  line-height: 1.5rem;
  font-size: 1rem;
  margin-bottom: 2.5rem;
}

.fullHeader {
  background: -webkit-linear-gradient(315deg, #575294 0, #1d1d1d 100%);
  background: -moz-linear-gradient(315deg, #575294 0, #1d1d1d 100%);
  background: -o-linear-gradient(315deg, #575294 0, #1d1d1d 100%);
  background: linear-gradient(135deg, #575294 0, #1d1d1d 100%);
  padding-top: 7rem;
}

.buttonSubmit {
  width: 100%;
  border-radius: 20px;
}

.label {
  color: #000 !important;
}

.recapcha {
  font-weight: 200;
  font-size: 0.7rem;
  margin: 20px auto;
  text-align: center;
}

.errorContactForm {
  color: #dc3545;
  border: 1px solid #e9ecef;
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 0.25rem;
}
